.SpotifyContainer {
    position: absolute;
    background-color: rgb(0, 0, 0);
    height: 100vh;
    color: white;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    overflow: hidden;
}

.music {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 37%;
}

.music img {
    width: 150%;
    display: flex;
    align-items: center;
}

.spotText {
    line-height: 30px;
    color: #1ED760;
    margin-left: 60px;
}

.spotText p {
    font-size: 20px;
}

.spotText h1 {
    font-size: 60px;
}

.music a button {
    padding: 15px 50px;
    border: none;
    font: inherit;
    font-size: 20px;
    border-radius: 20px;
    background: #1ED760;
    margin-left: 90%;


}

@media screen and (max-width:768px) {
    .music {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        padding: 10%;
    }

    .music img {
        width: 124%;
    }

    .spotText {
        left: 62.5%;
        line-height: 30px;
        color: #1ED760;
    }
}

@media screen and (max-width:568px),
(max-width:534px),
(max-width:530px) {
    .music img {
        width: 134%;
    }

    .music {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        padding: 5%;
    }
}

@media screen and (max-width:482px) {
    .music {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        padding: 2%;
    }

    .spotText h1 {
        font-size: 60px;
    }
}

@media screen and (max-width:414px) {

    .music img {
        width: 130%;
    }

    .spotText h1 {
        font-size: 40px;
    }
}

@media screen and (max-width:325px) {
    .music img {
        width: 130%;
    }

    .spotText h1 {
        font-size: 34px;
    }


}

@media screen and (max-width:303px) {
    .music {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
    }
    .music img {
        width: 100%;
    }

    .spotText p {
        display: none;
    }

    .spotText h1 {
        font-size: 30px;
    }
    .music a button {
        padding: 15px 50px;
        border: none;
        font: inherit;
        font-size: 20px;
        border-radius: 20px;
        background: #1ED760;
        margin-top: 40px;
        margin-left: 0%;
    
    
    }
}
@media screen and (max-width:200px) {
    
    .music img {
        width: 100%;
    }

  

    .spotText h1 {
        display: none;
    }
    .music a button {
        padding: 15px 50px;
        border: none;
        font: inherit;
        font-size: 20px;
        border-radius: 20px;
        background: #1ED760;
        margin-top: 20px;
        margin-left: 0%;
    
    
    }
}
@media screen and (max-width:147px) {
    .music img{
        display: none;
    }
    .music a button {
        padding: 30px;
        border: none;
        font: inherit;
        font-size: 20px;
        border-radius: 100%;
        background: #1ED760;
        /* margin-top: 20px; */
        /* margin-left: 0%; */
    
    
    }

}